.board-box{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.board-row {
    display: block;
    height: 6vw;
    min-height: 50px;
    max-height: 90px;
}

.board {
    border: 5px solid gray;
    width: fit-content;
    height: fit-content;
    min-width: 410px;
}