.box{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}
.row{
    display: block;
    height: 50px;
}
.board{
    border: 5px solid gray;
    width: fit-content;
    height: fit-content;
}
