<div (click)="sendCoordinates(this.box.coordinate)"
[ngStyle]="{'width':+width+'px', 'height': +height+'px',
'background-color': this.box.colour}"
>
<div *ngIf="this.box.getPiece()?.type=='p'">
    <fa-icon *ngIf="this.box.getPiece().colour=='white'" [icon]="['far', 'chess-pawn']" size="3x"></fa-icon>
    <fa-icon *ngIf="this.box.getPiece().colour=='black'" [icon]="['fas', 'chess-pawn']" size="3x"></fa-icon>
</div>
<div *ngIf="this.box.getPiece()?.type=='b'">
    <fa-icon *ngIf="this.box.getPiece().colour=='white'" [icon]="['far', 'chess-bishop']" size="3x"></fa-icon>
    <fa-icon *ngIf="this.box.getPiece().colour=='black'" [icon]="['fas', 'chess-bishop']" size="3x"></fa-icon>
</div>
<div *ngIf="this.box.getPiece()?.type=='r'">
    <fa-icon *ngIf="this.box.getPiece().colour=='white'" [icon]="['far', 'chess-rook']" size="3x"></fa-icon>
    <fa-icon *ngIf="this.box.getPiece().colour=='black'" [icon]="['fas', 'chess-rook']" size="3x"></fa-icon>
</div>
<div *ngIf="this.box.getPiece()?.type=='k'">
    <fa-icon *ngIf="this.box.getPiece().colour=='white'" [icon]="['far', 'chess-knight']" size="3x"></fa-icon>
    <fa-icon *ngIf="this.box.getPiece().colour=='black'" [icon]="['fas', 'chess-knight']" size="3x"></fa-icon>
</div>
<div *ngIf="this.box.getPiece()?.type=='K'">
    <fa-icon *ngIf="this.box.getPiece().colour=='white'" [icon]="['far', 'chess-king']" size="3x"></fa-icon>
    <fa-icon *ngIf="this.box.getPiece().colour=='black'" [icon]="['fas', 'chess-king']" size="3x"></fa-icon>
</div>
<div *ngIf="this.box.getPiece()?.type=='q'">
    <fa-icon *ngIf="this.box.getPiece().colour=='white'" [icon]="['far', 'chess-queen']" size="3x"></fa-icon>
    <fa-icon *ngIf="this.box.getPiece().colour=='black'" [icon]="['fas', 'chess-queen']" size="3x"></fa-icon>
</div>

</div>

